.card-title{
    color: #d61368;

}
.card-img-top{
    width: 100%;
    height: 200px;
}
.card-btn{
    justify-content: center!important;
    align-items: center!important;
}
.card:hover{
    background-color: rgb(250, 239, 239);
    box-shadow: 1px 1px 1px 1px rgb(77, 7, 7);
}